### Linkedln Challenge
## Stack overflow Annual Developer Survey

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [208]:
#survey = pd.read_csv("survey_results_public.csv")
#survey.head()

## 1. How many developers participated in this survey?

In [169]:
survey.Respondent.count()

64461

## 2. Find the top ten countries participating devs are from

In [171]:
Top_ten = survey.groupby("Country").count().sort_values(by="Respondent",ascending=False).head(10)
Top_ten1 = Top_ten[["Respondent"]]
index = np.arange(1,11)
Top_ten1.reset_index(level=0,inplace=True)
Top_ten1.index = index
Top_ten1

           Country  Respondent
1    United States       12469
2            India        8403
3   United Kingdom        3896
4          Germany        3890
5           Canada        2191
6           France        1898
7           Brazil        1818
8      Netherlands        1343
9           Poland        1278
10       Australia        1208

## 3. How many are from Nigeria?

In [176]:
Naija_dev = survey[survey["Country"]=="Nigeria"]
len(Naija_dev)

593

## 4. What is the average age of the Nigerian dev?

In [209]:
Naija_dev.Age.dropna(inplace=True)
round(Naija_dev.Age.mean(),0)

26.0

## 5. What are the kind of employment they are in?

In [179]:
Naija_dev.groupby("Employment").count().sort_values(by="Respondent",ascending=False)[["Respondent"]]

                                                    Respondent
Employment
Employed full-time                                         187
Student                                                    135
Not employed, but looking for work                         118
Independent contractor, freelancer, or self-emp...         109
Employed part-time                                          36
Not employed, and not looking for work                       4

## 6. What is the gender distribution?

In [180]:
pd.DataFrame(Naija_dev["Gender"].value_counts())

                                                   Gender
Man                                                   408
Woman                                                  31
Woman;Man                                               2
Non-binary, genderqueer, or gender non-conforming       1

## 7. What major did they study in school?

In [212]:
major = pd.DataFrame(Naija_dev["UndergradMajor"].value_counts())
major.rename(columns={"UndergradMajor":"Total"},inplace=True)
major.index.names = ["Undergraduate Major"]
major

                                                    Total
Undergraduate Major
Computer science, computer engineering, or soft...    192
Another engineering discipline (such as civil, ...     62
A natural science (such as biology, chemistry, ...     32
Mathematics or statistics                              24
Information systems, information technology, or...     23
A business discipline (such as accounting, fina...     18
A health science (such as nursing, pharmacy, ra...     10
A social science (such as anthropology, psychol...      9
A humanities discipline (such as literature, hi...      9
Web development or web design                           8
I never declared a major                                3
Fine arts or performing arts (such as graphic d...      3

## 8. What languages have they worked with?

In [189]:
Naija_dev_language= Naija_dev.groupby("LanguageWorkedWith").count().sort_values(by="Respondent",ascending=False)[["Respondent"]]
Naija_dev_language.index.names = [ "Naija dev languages worked with"]
Naija_dev_language

                                     Respondent
Naija dev languages worked with
HTML/CSS;JavaScript                          36
HTML/CSS;JavaScript;PHP;SQL                  28
HTML/CSS;JavaScript;PHP                      16
HTML/CSS;JavaScript;TypeScript               14
Python                                       13
...                                         ...
C++;HTML/CSS;Java;JavaScript;Python           1
C++;HTML/CSS;Java;JavaScript;SQL              1
C++;HTML/CSS;Java;PHP;Python;SQL              1
C++;HTML/CSS;Java;PHP;SQL                     1
R                                             1

[270 rows x 1 columns]

## 9. What is the average number of languages they have worked with?

In [190]:
round(Naija_dev["LanguageWorkedWith"].value_counts().mean(),0)

2.0

## 10. What is the avegrage number of years of experience of the Nigerian developer?

In [194]:
round(Naija_dev[pd.to_numeric(Naija_dev.YearsCodePro,errors="coerce").notnull()]["YearsCodePro"].mean(),1)

4.516588071660985e+235

## 11. How many dev are women,age below 25 and earn a living from dev?

In [198]:
survey.Employment.value_counts()
age_less_25 = survey[survey["Age"]<25]
women_age_less_than_25 = age_less_25[age_less_25["Gender"]=="Woman"]
len(women_age_less_than_25[women_age_less_than_25["Employment"].isin(["Employed full-time","Independent contractor, freelancer, or self-employed","Employed part-time"])])

498

## 12. What are the 10 most popular languages among Naija devs?

In [207]:
a = pd.DataFrame(Naija_dev["LanguageWorkedWith"].value_counts()).head(10)
a.rename(columns={"LanguageWorkedWith":"Total"},inplace=True)
a.index.names= [" Ten most popular languages among  Naija dev"]
a.reset_index(level=0,inplace=True)
index = np.arange(1,11)
a.index=index
a

    Ten most popular languages among  Naija dev  Total
1                           HTML/CSS;JavaScript     36
2                   HTML/CSS;JavaScript;PHP;SQL     28
3                       HTML/CSS;JavaScript;PHP     16
4                HTML/CSS;JavaScript;TypeScript     14
5                                        Python     13
6                                      HTML/CSS     12
7                    HTML/CSS;JavaScript;Python     10
8                                          Java      9
9              HTML/CSS;Java;JavaScript;PHP;SQL      8
10                              HTML/CSS;Python      8